*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
    position: relative;
    z-index: -2;
}
.container.dep {
    max-width: 100%;
    width: 100%;
    background-image: url("./images/background.jpg");
    background-attachment: fixed;
    overflow-y: hidden;
    z-index: -7;
}

.container.dep img {
    object-fit: cover;
    height: 250px;
    width: 95%;
    padding-bottom: 20px;
    max-width: 100%;
    border-radius: 3%;
}

.container.dep h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 1em;
    color: #fff;
    max-width: 100%;
}

.container.foot h2 {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 1em;
    max-width: 100%;
    overflow-y: hidden;
}

@media (max-width: 380px) {
    .container.foot h2 {
        font-size: 15px;
    }

    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

.cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: #ff2b35;
    color: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    overflow-y: hidden;
    z-index: -3;
}

.card:not(:last-child) {
    margin-right: 10px;
}

.card:hover {
    color: var(--white);
    background: var(--red);
}

.card .card-title {
    font-size: 20px;
}

.card .card-content {
    margin: 20px 0;
    max-width: 85%;
}

.card .card-link-wrapper {
    margin-top: 10px;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.card:hover .card-link {
    background: var(--darkred);
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }

    .card:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 900px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    .card {
        flex-basis: calc(25% - 30px);
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }
}
