*{
    margin: 0;
    padding: 0;
}

.faculties {
    background: #ff9d2b;
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: row;
    object-fit: fill;
}

.teachers {
    width: 200px;
    height: 200px;
    background: #8098ff;
    margin: auto;
}