@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* ---------- Menu bar ----------- */

.menu {
  /* width: ; */
  height: 100vh;
  float: right;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  transition: all ease 2s;
  position: absolute;
  top: 0;
  right: 0;
  animation-name: nav-slide;
  animation-duration: 0.5s;
  z-index: 10000;
}
.menu ul {
  margin-top: 10vh;
}
.menu li {
  list-style: none;
  padding: 10px 25px 10px 40px;
}

.menu a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.menu a:hover {
  transition: all 0.5s ease-in-out;
  color: #00abff;
}

#open-btn {
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 7px;
  border-radius: 0.1em;
  background: transparent;
  color: #556dff !important;
  border: none;
  outline: none;
  overflow: hidden;
}
#close-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  overflow-y: hidden;
}

#menu-icon,
#nav-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  overflow: hidden;
  overflow-y: hidden;
}

#title {
  display: none;
}

/* -------------- Icon style ---------- */
.material-symbols-outlined {
  color: white;
  font-size: 35px;
  overflow: hidden;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* ---------------- Navbar ------------ */

.nav-links {
  display: none;
}

@media (min-width: 780px) {
  #title {
    color: white;
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 12px;
    overflow-x: hidden;
  }
  #open-btn {
    display: none;
  }
  #menu {
    display: none;
  }
  #menu-icon {
    display: none;
  }

  nav {
    width: 100%;
    position: sticky;
    top: 0px;
    height: 60px;
    background: #6a78ff;
  }
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0px;
    overflow-y: hidden;
    height: 60px;
    background: #6a78ff;
    z-index: 1000;
  }

  .nav-links li {
    list-style-type: none;
    padding: 15px 7px 15px 20px;
    overflow-y: hidden;
  }

  .nav-links a {
    text-decoration: none;
    padding: 15px 7px 15px 20px;
    color: white;
  }
  .nav-links a:hover {
    color: #00abff;
  }
}

@keyframes nav-slide {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

/* ---------- background class --------- */
.bg {
  background-image: url("./section-style.css/i");
}
/* ------ head-contain ------- */
