*{
    margin: 0;
    padding: 0;
}
section{
    margin-top: 118px;
}
/* ------- container1 -------- */
.container1 {
    width: 100%;
    height: 50em;
    color: white;
    display: grid;
    place-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.container1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}

.container1 h3{
    width: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.container1 p{
    width: 70%;
    padding-top: 10px;
}

/*------------ container2 -----------*/
.container2 {
    width: 100%;
    height: auto;
    background: #8098ff;
    padding-top: 3em;
    padding-bottom: 3em;
}

.dep-container {
    display: flex;
    width: 100%;
    height: 15em;
}
.dep-container img {
    width: 180px;
    height: 180px;
    border-radius: 0.4em;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
